/*Creacion de estilos CSS para la tabla principal*/
.tabla{
    display: block;
    margin: auto;
    background-color: white;
    width: 515px;
    height: 261px;
    border-collapse: separate;
    border-spacing: 5px 5px;
}
/*Creacion de estilos CSS para la tabla de botones de lenguajes de programacion*/
.tabla2{
    display: block;
    margin: 3px;
    width: px;
    height: px;
    background-color: rgb(201, 201, 201) ;
    margin-left: 165px;
    margin-top: -52px;
}